In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [3]:
soup.find('table');

In [4]:
soup.find_all('table')[0];

In [5]:
table = soup.find('table')

In [6]:
world_titles = soup.find_all('th', rowspan = "2")

In [7]:
world_table_titles = [title.text.strip() for title in world_titles]

In [8]:
del world_table_titles[7]

In [9]:
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Employees', 'Headquarters[note 1]', 'State-owned', 'Ref.']

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(columns = world_table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Employees, Headquarters[note 1], State-owned, Ref.]
Index: []

In [12]:
column_data = table.find_all('tr')

In [13]:
for row in column_data[2:]:
    row_number = row.find_all('th')
    row_data = row.find_all('td')
    individual_row_number = [number.text.strip() for number in row_number]
    individual_row_data = [data.text.strip() for data in row_data]
    del individual_row_data[6:8]
    complete_row_data = individual_row_number + individual_row_data

    length = len(df)
    df.loc[length] = complete_row_data

ValueError: cannot set a row with mismatched columns

In [ ]:
df

In [ ]:
df.to_excel(r'C:\Users\Shuai\Downloads\Companies.xlsx', index = False)